<div class="row">
    <div class="col-8">
        <% @opinions_current_user_friends.each do |opinion|%>
        <ul>
            <li style="list-style-type: none;">
            <p class="font-weight-bold">Post from <%= opinion.names(opinion.author_id).fullname %> </p>
            <%= opinion.text %>
            </li>
        </ul>
        <% end %>
    </div>

    <div class = "col-4 right-bar bg-light w-100" style="width:600px; height:auto;">
        <div class="mx-2 px-2 mt-5">
            <span class="font-weight-bold">Full name: </span> <%= current_user.fullname %><br />
            <span class="font-weight-bold">Username:</span> <%= current_user.username %><br />  <br>   
            <span class="font-weight-bold">Followers:</span> <%= current_user.followeds.count %>
            <span>/</span>
            <span class="font-weight-bold">Following:</span> <%= current_user.followers.count %>
        </div>
        <br><br>
        <div class = "col-3 right-bar bg-light" style="width:900px; height:auto; max-width:100%">
            <% if signed_in? %>
            <h6 class="text-center text-light font-weight-bold border p-2 bg-dark">Followed by</h6>
                <% by_followeds.each do |u|%>
                    <div class="pl-5 py-1">
                        <%= form_with url: followings_path  do |f| %>
                            <%= f.hidden_field :followed_id, value: u.id %> <%= u.fullname%> (<%= u.username%>) <br>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>  
</div>