<!DOCTYPE html>
<html>
  <head>
    <title>Dwidder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container-fluid" style="height: 600px;">
        <div class="row">
            <div class="col-3 text-dark flex-column h-auto bg-dark">
                <div class="flex-row"> 
                    <%# <img src="#" alt="profile"> %>
                    <% if signed_in?%>
                    <p class="font-weight-bold text-light m-5"><%= current_user.fullname %></p>
                    <% end %>
                </div>
                <div class="flex-column text-secondary ml-1" style="font-size:12px; border-top: 2px solid rgb(33,40,50)">
                    <div class="d-flex flex-row ml-3">
                        <% if signed_in?%>
                        <div class="p-2 d-flex flex-column">
                            <span class="px-3 text-light"><%= current_user.followeds.count %></span>
                            <span>Followers</span>
                        </div>
                        <div class="p-2 d-flex flex-column">
                            <span class="px-3 text-light"><%= current_user.followers.count %></span>
                            <span>Following</span>
                        </div>
                        <% end %>
                    </div>
                </div>
                <div class="links d-flex flex-column" style="border-top: 2px solid rgb(33,40,50)">
                <% if signed_in?%>
                <ul class="mt-5">
                <li class="my-3" style="list-style-type: none;">
                <i class="fas fa-home text-white"></i>
                <%= link_to 'Home', root_path, class:"fa-1x text-white my-5 font-weight-bold" %>
                </li>
                <li class="my-3" style="list-style-type: none;">
                <i class="far fa-user text-white"></i>
                <%= link_to 'Profile', user_path(current_user), class:"fa-1x my-5 text-white font-weight-bold" %>
                </li>
                </ul>
                <% else %>
                    <p class="text-white ml-3 mt-5">'You are not signed in! To see the content, you need to sign in!'</p>
                <% end %>
                </div>
            </div>
            <div class="col-9 p-0">
                <div class="bg-primary h-auto" style="width: 959px;">
                    <div class="row container">
                        <nav class="nav col-2 mt-1 mb-1 p-1 bg-dark" style="border:2px solid white; border-top-right-radius: 60px;">
                        <h3 class="mx-2 text-white">dwidder</h3>
                        <%= link_to fa_icon('dove'), root_path, class:"fa-3x mx-2 text-dark border p-2 bg-light" %>
                        <small class="mx-2 text-light">Express yourself!</small>
                        </nav>
                        
                        <ul class="nav justify-content-end mb-2 col-10 mt-3">
                            <% if !signed_in?%>
                            <li class="nav-item">
                                <%= link_to fa_icon('sign-in-alt'), new_session_path, class:"fa-2x px-2 text-dark" %>
                            </li>
                            <% end %>
                            <% if signed_in?%>
                            <li class="nav-item">
                                <%= link_to fa_icon('sign-out-alt'), session_path(current_user.id), method: :delete, data: { confirm: 'You are logging out!' }, class:"fa-2x px-2 text-dark" %>
                            </li>
                            <% end %>
                        </ul>
                    </div>

                    
                </div>
                <div class="row">              
                    <div class="col-9 row">
                        <div class="col-3 ml-5 mt-2 text-danger">
                            <% if alert %>
                            <%= alert %>
                            <% end %>
                        </div>
                        <div class="m-5 col-9">
                            <% flash.each do |type, msg| %>
                                <div class="alert alert-info">
                                    <%= msg %>
                                </div>
                            <% end %>
                            <%= yield %>
                        </div>
                    </div>
                    <div class = "col-3 right-bar bg-light" style="width:600px; height:auto;">
                        <h6 class="mx-2 mt-5 text-light font-weight-bold border p-2 bg-dark">Who to follow</h6>
                            <% suggested_followers.each do |u|%>
                                <div>
                                    <%= form_with url: followings_path  do |f| %>
                                        <%= f.hidden_field :followed_id, value: u.id %> <%= u.fullname%> (<%= u.username%>)
                                        <%= f.submit %>
                                    <% end %>
                                </div>
                            <% end %>
                    </div>  
                </div>
            </div>
            
            <div class="footer col-12" style="height: 37px; background-color: rgb(82, 167, 232)">
            </div>
        
        </div>
    </div>
    
  </body>
</html>
