<!DOCTYPE html>
<html>
  <head>
    <title>Dwidder</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container-fluid" style="height: 600px;">
        <div class="row">
            <div class="col-3 text-dark flex-column" style="height: 600px; background-color: rgb(33,51,70);">
                <div class="flex-row"> 
                    <img src="#" alt="profile">
                    <% if signed_in?%>
                    <p class="font-weight-bold text-secondary px-3"><%= current_user.fullname %></p>
                    <% end %>
                </div>
                <div class="flex-column text-secondary" style="font-size:12px; border-top: 1px solid rgb(33,40,50)">
                    <div class="d-flex flex-row">
                        <div class="p-2 d-flex flex-column">
                            <span class="px-3">184</span>
                            <span>Following</span>
                        </div>
                        <div class="p-2 d-flex flex-column">
                            <span class="px-3">823</span>
                            <span>Followers</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9 p-0">
                <div style="height: 100px; width: 959px; background:linear-gradient( rgba(0, 23, 32, 0.5) 100%, black 100%),no-repeat center center fixed;;">
                    <div class="row container">
                        <nav class="nav col-2 mt-3">
                        <%= link_to fa_icon('dove'), root_path, class:"fa-3x ml-4 text-white" %>
                        </nav>
                        
                        <ul class="nav justify-content-end mb-2 col-10 mt-4">
                            <% if !signed_in?%>
                            <li class="nav-item">
                                <%= link_to fa_icon('sign-in-alt'), new_session_path, class:"fa-2x px-2 text-dark" %>
                            </li>
                            <% end %>
                            <% if signed_in?%>
                            <li class="nav-item">
                                <%= link_to fa_icon('sign-out-alt'), session_path(current_user.id), method: :delete, data: { confirm: 'You are logging out!' }, class:"fa-2x px-2 text-dark" %>
                            </li>
                            <% end %>
                        </ul>
                    </div>

                    
                </div>
            <% if alert %>
            <div class="ml-5 mt-2 text-danger"><%= alert %></div>
            <% end %>
                <div class="m-5">
                <%= yield %>
                </div>
            </div>
            
            <div class="footer col-12" style="height: 37px; background-color: rgb(82, 167, 232)">
            </div>
        
        </div>
    </div>
    
  </body>
</html>
